.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gif {
    position: absolute;
    width: 300px;
    height: auto;
    transform: translateY(-60px);
    border-radius: 30px;
    transform: scale(0);
    transition: transform 3s ease-in-out,
}

.zoomGif {
    transform: scale(1);
}

.textUp {
    position: absolute;
    color: white;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    transform: translateY(-300px)
}

.textUp>p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.textUp img {
    width: 40px;
    height: auto
}